 .u-section-1 {
  background-image: url("images/image-from-rawpixel-id-540966-jpeg-14.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-form-1 {
  height: 245px;
  margin: 177px 504px 60px 34px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 338px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }
}