 .u-section-1 {
  background-image: url("images/Component72.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-image-1 {
  width: 1094px;
  height: 708px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -570px 611px 0 73px;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: -50px auto 0 95px;
}

.u-section-1 .u-image-3 {
  width: 498px;
  height: 446px;
  margin: 30px auto 0 72px;
}

.u-section-1 .u-image-4 {
  width: 112px;
  height: 114px;
  margin: -446px 172px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -18px 589px 0 95px;
}

.u-section-1 .u-text-3 {
  margin: -116px 591px 0 93px;
}

.u-section-1 .u-text-4 {
  margin: 60px 0 0 684px;
}

.u-section-1 .u-text-5 {
  margin: 0 0 0 684px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: -5px 1px 60px 683px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    height: 685px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -548px;
    margin-right: 412px;
    margin-left: 72px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -10px;
    margin-right: 391px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -102px;
    margin-right: 391px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 38px;
    margin-right: -65px;
    margin-left: 549px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -65px;
    margin-left: 549px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -65px;
    margin-left: 549px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -328px;
    margin-right: 264px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 264px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 264px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 439px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 439px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -212px;
    margin-right: 84px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 349px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 349px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -82px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -304px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 249px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 249px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 249px;
  }
}